# Pre Test Use Case
**Telkomsel Data Science Academy**
<br> 16 October 2019 
<br> Wilvan Dany Aritonang

## "Churned Customers"

In [2]:
import pandas as pd
import numpy as np
import statistics as st

In [3]:
df_churn = pd.read_csv("churn.csv", encoding='latin1')

In [6]:
df_churn.shape

(5000, 21)

In [7]:
df_churn.describe()

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
count,5000.00000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,...,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,25.99840,100.25860,436.911400,2499.500000,0.094600,0.264600,7.755200,180.288900,100.029400,30.649668,...,100.191000,17.054322,200.391620,99.919200,9.017732,10.261780,4.435200,2.771196,1.570400,0.141400
std,14.80348,39.69456,42.209182,1443.520003,0.292691,0.441164,13.546393,53.894699,19.831197,9.162069,...,19.826496,4.296843,50.527789,19.958686,2.273763,2.761396,2.456788,0.745514,1.306363,0.348469
min,0.00000,1.00000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,13.00000,73.00000,408.000000,1249.750000,0.000000,0.000000,0.000000,143.700000,87.000000,24.430000,...,87.000000,14.140000,166.900000,87.000000,7.510000,8.500000,3.000000,2.300000,1.000000,0.000000
50%,26.00000,100.00000,415.000000,2499.500000,0.000000,0.000000,0.000000,180.100000,100.000000,30.620000,...,100.000000,17.090000,200.400000,100.000000,9.020000,10.300000,4.000000,2.780000,1.000000,0.000000
75%,39.00000,127.00000,415.000000,3749.250000,0.000000,1.000000,17.000000,216.200000,113.000000,36.750000,...,114.000000,19.900000,234.700000,113.000000,10.560000,12.000000,6.000000,3.240000,2.000000,0.000000
max,50.00000,243.00000,510.000000,4999.000000,1.000000,1.000000,52.000000,351.500000,165.000000,59.760000,...,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,1.000000

In [9]:
df_churn.dtypes

state                              int64
account_length                     int64
area_code                          int64
phone_number                       int64
international_plan                 int64
voice_mail_plan                    int64
number_vmail_messages              int64
total_day_minutes                float64
total_day_calls                    int64
total_day_charge                 float64
total_eve_minutes                float64
total_eve_calls                    int64
total_eve_charge                 float64
total_night_minutes              float64
total_night_calls                  int64
total_night_charge               float64
total_intl_minutes               float64
total_intl_calls                   int64
total_intl_charge                float64
number_customer_service_calls      int64
class                              int64
dtype: object

#### 1. Arrange top 5 state based on number_customer_service_calls !
       Answer : The State that call the customer service at most : 49,23,1,13,45

In [37]:
df_state = df_churn.groupby('state')['number_customer_service_calls'].count()
df_state_i = df_state.sort_values(ascending=False)

In [38]:
df_state_i.head(5)

state
49    158
23    125
1     124
13    119
45    118
Name: number_customer_service_calls, dtype: int64

#### 2. Arrange top 5 state based on total total_day_minutes !
        Answer : The State that have total day in minutes at most : 49,1,23,13,35

In [46]:
df_st = df_churn.groupby('state')['total_day_minutes'].sum()
df_st_i = df_st.sort_values(ascending=False)

In [47]:
df_st_i.head(5)

state
49    27969.0
1     23494.8
23    22829.1
13    21696.0
35    21544.5
Name: total_day_minutes, dtype: float64

#### 3.Arrange top 5 state based on mean of total_day_calls for each state!
Answer : The State that have total day in minutes at most : 15,13,18,40,11

In [72]:
df_me = df_churn.groupby('state')['total_day_calls'].mean()
df_me_i = df_me.sort_values(ascending=False)

In [74]:
df_me_i.head(5)

state
15    105.877551
13    104.025210
18    103.756098
40    103.230769
11    103.093023
Name: total_day_calls, dtype: float64

#### 4. Arrange top 5 phone in State 49 no based on number_customer_service_calls and total_day_minutes 
Answer

In [77]:
top_phone = df_churn[df_churn.state =='49']
top_phone_i=top_phone.sort_values(['number_customer_service_calls','total_day_minutes'],ascending=[False,False])

In [79]:
top_phone_i.loc[:,['state','phone_number','number_customer_service_calls','total_day_minutes']].head(5)

Empty DataFrame
Columns: [state, number_customer_service_calls, total_day_minutes]
Index: []

#### 5. What is the correlation value between number_customer_service_calls and total_day_calls?

In [82]:
df_cor = df_churn[['number_customer_service_calls','total_day_calls']]
correlation = df_cor.corr(method='pearson')

In [84]:
correlation()

TypeError: 'DataFrame' object is not callable